<div class="footer">
   <div class="copyright">
    <p>&copy 2019 - AirTnB</p>
  </div>
  <div class="social">
    <a href="#" class="support">Contact Us</a>
    <a href="#" class="face">f</a>
    <a href="#" class="tweet">t</a>
  </div>
</div>
