<div class="card-user">
  <div class="card-user-content">
    <h2><%= @user.first_name + "'s Used Toilets" %></h2>
  </div>
</div>
<div class="list-toilets">
  <% if @used_toilets.empty? %>
    <h4>You never book a toilet. Feel free to book one <a href="<%= root_path %>">here</a></h4>
  <% else %>
    <% @used_toilets.each do |toilet| %>
      <%= render 'shared/toilet-card', toilet: toilet %>
      <% link = false %>
      <% unless toilet.bookings.empty? %>
        <% toilet.bookings.each do |booking| %>
          <% if @reviews.where(booking_id: booking, user_id: @user).empty? && !link %>
            <div class="link-to-review">
              <%= link_to "Missing Review", new_toilet_booking_review_path(toilet, booking), class: "btn btn-warning" %>
            </div>
            <% link = true %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
